# Web Interface and visuals
streamlit
plotly
pandas
polars
# DB in memory
duckdb
# LLM integration over LangChain
langchain
#langchain-openai
langchain-groq
#langchain-google-genai==2.1.5
#google-generativeai==0.6.0
# Load key from .env file
python-dotenv
tiktoken
